---
- name: Install Docker
  apt:
    name: docker.io
    state: present

- name: Start Docker Service
  service:
    name: docker
    state: started
    enabled: yes

- name: Ensure current user is in docker group
  user:
    name: "{{ ansible_user_id }}"
    groups: docker
    append: yes